<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <div class="book-card">
      <% if book.image_link.present? %>
        <%= image_tag(book.image_link, alt: "#{book.title} thumbnail", width: "100", height: "150") %>
      <% else %>
        <%= image_tag("https://placehold.co/100x150?text=No+cover", alt: "#{book.title} thumbnail", width: "100", height: "150") %>
      <% end %>
      <h2><%= book.title %></h2>
      <p>Author: <%= book.author.name %></p>
      <p>
      <%= link_to "Show this book", book %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
