<!DOCTYPE html>
<html>
  <head>
    <title>Logistic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Authors', authors_path %></li>
        <li>
          <%= form_with url: search_path, method: :get, local: true do |form| %>
            <%= form.text_field :query, placeholder: "Search" %>
            <%= form.radio_button :type, "book", checked: true %> Book
            <%= form.radio_button :type, "author" %> Author
            <%= form.submit "Search" %>
          <% end %>
        </li>
        <li><%= link_to "New book", new_book_path %></li>
        <li><%= link_to "New author", new_author_path %></li>
      </ul>
    </nav>
  
    <%= yield %>
  </body>
</html>
